<div class="col-md-12 " id="steptabtab">
    <div class="padbtn20">
        <div class="datapipelinebox">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Uh-oh!</strong>
                It could be you, or it could be us, but there's no page here.
            </div>
        </div>
    </div>
</div>