<div id="step1" class="tab-pane active top30">
    <div class="org_form">
        <form name="step1" novalidate class="orgFORM">
            <h3>1. Add Product</h3>
            <div class="col-md-12 slectBX">
                <div class="col-md-9 slectBX" ng-class="{ 'has-error': step1.productName.$invalid }">
                    <label>
                        Product Name
                    </label>
                    <input type="text" class="formTXT" name="productName"
                           ng-model="$ctrl.product.productName"
                           required>
                    <div class="help-block" ng-if="$ctrl.step1Validate" ng-messages="step1.productName.$error">
                        <p ng-message="required">Product Name is required.</p>
                    </div>
                </div>
                <div class="col-md-3 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': step1.sku.$invalid }">
                    <label>
                        SKU
                    </label>
                    <input type="text" class="formTXT" name="sku"
                           ng-model="$ctrl.product.sku"
                           ng-pattern="/^([0-9a-zA-Z]+)$/"
                           required>
                    <div class="help-block" ng-if="$ctrl.step1Validate" ng-messages="step1.sku.$error">
                        <p ng-message="pattern">Not a valid sku.</p>
                        <p ng-message="required">SKU is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 slectBX">
                <div class="col-md-9 slectBX" ng-class="{ 'has-error': step1.manufacturer.$invalid }">
                    <label>
                        Manufacturer
                    </label>
                    <input type="text" class="formTXT" name="manufacturer" ng-model="$ctrl.selectedManufacturer"
                           typeahead-on-select="$ctrl.selectManufacturer($item, $model, $label)" required
                           uib-typeahead="manufacturer.name for manufacturer in $ctrl.manufacturers | filter:$viewValue | limitTo:10">
                    <div class="help-block" ng-if="$ctrl.step1Validate" ng-messages="step1.manufacturer.$error">
                        <p ng-message="required">Manufacturer is required.</p>
                    </div>
                </div>
                <div class="col-md-3 slectBX" style="padding-left:5px !important;">
                    <button class="btn btn-danger formTXT" style="width: 100%;height: 43px;" ng-click="$ctrl.addManufacturers()">Add New Manufacturer</button>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="top30" align="center">
                <input type="submit" value="NEXT" ng-click="$ctrl.next(step1)" class="btn padleftright greenbtn" />
            </div>
        </form>
    </div>
</div>
