<div id="step2" class="tab-pane active top30">
    <div class="org_form">
        <form name="step2" novalidate class="org_form">
            <div class="col-md-12 slectBX">
                <h3>1. Define Geo-Restriction Settiings</h3>
                <p class="georelation">
                    Geo- Restriction type
                    <span>
                        <label class="radio-inline">
                            <input type="radio" ng-model="$ctrl.User.addOrganization.geoRestriction.geo" value="No" name="geo" ng-change="$ctrl.clearCountry()">No</label>
                    </span>
                    <span>
                        <label class="radio-inline"><input type="radio" ng-model="$ctrl.User.addOrganization.geoRestriction.geo" value="Yes" name="geo" ng-change="$ctrl.clearCountry()">Yes</label>
                    </span>
                </p>
            </div>
            <div class="col-md-12 slectBX s_country" ng-if="$ctrl.User.addOrganization.geoRestriction.geo === 'Yes'">
                <div class="col-md-12 slectBX">
                    <div class="labmarright20">
                        <span>
                            <label class="radio-inline"><input type="radio" ng-model="$ctrl.User.addOrganization.geoRestriction.list" value="Whitelist" name="list" ng-change="$ctrl.clearCountry()">Whitelist</label>
                        </span>
                        <span>
                            <label class="radio-inline"><input type="radio" ng-model="$ctrl.User.addOrganization.geoRestriction.list" value="Blacklist" name="list" ng-change="$ctrl.clearCountry()">Blacklist</label>
                        </span>
                    </div>
                    <p class="top7">Your data WILL be available to customers you give access to in the following countries:</p>
                    <div class="search_engine">
                        <div class="col-md-12 slectBX search_box">
                            <input type="search" name="searchCountry" class="formTXT" ng-model="$ctrl.selectedCountry" typeahead-on-select="$ctrl.selectCountry($item, $model, $label)" uib-typeahead="country.name for country in $ctrl.countries | filter:$viewValue | limitTo:10" id="sRegion" placeholder="Search region or Country">
                        </div>
                        <div class="col-md-12 slectBX">
                            <div class="formTXT srcBTNS">
                                <button class="btn btn-selectbutton" ng-repeat="country in $ctrl.User.addOrganization.geoRestriction.countries | filter: {blacklist: ($ctrl.User.addOrganization.geoRestriction.list === 'Blacklist')} track by $index">{{country.name}}<img src="images/close-button.png" ng-click="$ctrl.removeCountry(country.id)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 slectBX" ng-class="{ 'has-error': step1.description.$invalid }">
                <h3>2. Specify Organization Encription Key (AWS KMS ARN)</h3>
                <input type="text" name="awsKmsKeyArn" class="formTXT" ng-model="$ctrl.User.addOrganization.awsKmsKeyArn">
            </div>
            <div class="clearfix"></div>
            <div class="top30" align="center">
                <a href="#/addorganization/step1" class="btn padleftright btn-default">BACK</a>
                <a ng-click="$ctrl.next(step2)" class="btn padleftright greenbtn">NEXT</a>
            </div>
        </form>
    </div>
</div>
