<div class="tab-pane active top30">
    <div class="org_form">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
            <strong>Error!</strong> {{$ctrl.error}}
        </div>
        <div class="print_preview">
            <h4>Organization:</h4>
            <p>{{::$ctrl.User.addOrganization.organization.companyName}}</p>
            <p>{{::$ctrl.User.addOrganization.organization.address}}</p>
            <p>
                {{::$ctrl.User.addOrganization.organization.city}}, {{::$ctrl.User.addOrganization.organization.state}}
                , {{::$ctrl.User.addOrganization.organization.country}}, {{::$ctrl.User.addOrganization.organization.postalCode}}
            </p>
            <p>{{::$ctrl.User.addOrganization.organization.phoneNumber | tel}}</p>
        </div>
        <div class="print_preview">
            <h4>Primary Contact:</h4>
            <p>{{::$ctrl.User.addOrganization.primaryContact.firstName}} {{::$ctrl.User.addOrganization.primaryContact.lastName}}</p>
            <p>{{::$ctrl.User.addOrganization.primaryContact.email}}</p>
            <p>{{::$ctrl.User.addOrganization.primaryContact.phoneNumber | tel}}</p>
        </div>
    </div>
    <div class="top30" align="center">
        <a href="#/addorganization/step2" class="btn padleftright btn-default">BACK</a>
        <a ng-click="$ctrl.save()" class="btn  padleftright greenbtn">SAVE</a>
    </div>
</div>