<div class="col-md-12 " id="steptabtab">
    <div class="padbtn20">
        <div class="datapipelinebox">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
                <strong>Error!</strong> {{$ctrl.error}}
            </div>
            <form>
                <fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg"
                               type="text"
                               placeholder="User Name"
                               ng-model="$ctrl.formData.userName" />
                    </fieldset>

                    <fieldset class="form-group">
                        <input class="form-control form-control-lg"
                               type="password"
                               placeholder="Password"
                               ng-model="$ctrl.formData.password" />
                    </fieldset>

                    <button class="btn btn-lg btn-primary pull-xs-right"
                            type="submit" ng-click="$ctrl.login()">LOGIN</button>

                </fieldset>
            </form>
        </div>
    </div>
    <!--<div class="top30 underlinelink" align="center">
        <a ng-click="$ctrl.cancel()">Cancel</a>
    </div>-->
</div>