<div class="wrapper-header fixed">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" show-authed="false">
        <ul class="nav sidebar-nav">
            <li>
                <a href="#/">
                    <span>
                        <img src="#">
                    </span> Home
                </a>
            </li>
        </ul>
    </nav>
    <div class="header">
        <div class="menu-btn" show-authed="true">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span class="hamb-top">
                </span>
                <span class="hamb-middle">
                </span>
                <span class="hamb-bottom">
                </span>
            </button>
        </div>
        <div class="col-md-12 header-wrapper">
            <div class="col-md-2 logo">
                <img src="#" class="img-responsive">
            </div>
            <!----searchbar----->
            <div class="col-md-7 search-box ">
                <!--<form class="navbar-form search" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control pull-right searchbox" placeholder="Search">
                        <span class="input-group-btn serch">
                            <button type="reset" class="btn btn-search">
                                <span class="srachicon">
                                    <img src="images/search.png">
                                </span>
                            </button>
                        </span>
                    </div>
                </form>-->
            </div>
            <div class="col-md-5 profile pull-right" show-authed="true">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="#">
                        Hi {{$ctrl.User.current.firstName}} {{$ctrl.User.current.lastName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a ng-click="$ctrl.alterRules('USER')">
                                Manage Notifications
                            </a>
                        </li>
                        <li><a ng-click="$ctrl.logout()">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //var trigger = $('.hamburger'),
        //overlay = $('.overlay'),
        var isClosed = false;
        function buttonSwitch() {
            if (isClosed === true) {
                $('.overlay').hide();
                $(".hamburger").removeClass('is-open');
                $(".hamburger").addClass('is-closed');
                isClosed = false;
            }
        }

        $(".hamburger").on("click", function () {
            buttonSwitch();
        });

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>