﻿<!-- ADD Device Modal -->
<div class="" id="adddevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create A Device</h4>
            </div>
            <div class="modalgraybg">
                <form name="addDevice" novalidate style="padding:15px">
                    <div class="form-group alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
                        <strong>Error!</strong> {{$ctrl.error}}
                    </div>
                    <div class="form-group">Select Device Data Source</div>
                    <div class="form-group" ng-class="{ 'has-error': addDevice.dataSourceCategory.$invalid }">
                        <span ng-repeat="sourceCategory in ::$ctrl.sourceCategories">
                            <label class="radio-inline">
                                <input type="radio" name="dataSourceCategory" ng-model="$ctrl.model.dataSourceCategory"
                                       required ng-value="{{sourceCategory.id}}">{{sourceCategory.name}}
                            </label>
                        </span>
                        <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="addDevice.dataSourceCategory.$error">
                            <p ng-message="required">Data Source Category is required.</p>
                        </div>
                    </div>
                    <div class="form-group">How would you like to define the Device ID? (Device ID is case-sensitive)</div>
                    <!--<div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="Protocol" value="Protocol">
                            Generate a Device ID for me
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="Protocol" value="Protocol">
                            I'll Define My Own Device ID
                        </label>

                    </div>-->
                    <div class="form-group" ng-class="{ 'has-error': addDevice.code.$invalid }">
                        <input type="text" class="form-control" name="code" ng-model="$ctrl.model.code" ng-pattern="/^([0-9a-zA-Z]+)$/" required>
                        <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="addDevice.code.$error">
                            <p ng-message="required">Code is required.</p>
                            <p ng-message="pattern">Not a valid code.</p>
                        </div>
                    </div>
                    <div class="form-group"><textarea class="form-control" rows="3" placeholder="Add Description (Optional)" ng-model="$ctrl.model.description"></textarea></div>
                    <!--<div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="">
                            <span class="input-group-addon"><a >COPY LINK</a></span>
                        </div>
                    </div>-->
                    <div class="text-center pad15"><a class="btn  padleftright  greenbutton" ng-click="$ctrl.save(addDevice)">SAVE</a></div>
                </form>
            </div>
        </div>
    </div>
</div>